@charset "UTF-8";
/* Reset Style */
html {
  overflow-y: scroll;
}

body {
  line-height: 1;
  color: #000;
}


li.foldList {
  list-style: none;
  margin-left: 0;
  color: #729FCF;
  cursor: pointer; cursor: hand;
  margin-left: -15px;
  margin-bottom: 5px;
  padding: 0 0 0 15px;
  background: url(../img/mark_01.gif) no-repeat 5px 0.5em;
}

li.foldList:hover {
  text-decoration: none;
  color: #204a87;
}

li.foldList * {
  cursor: auto;
  color: #333;
}

/* html5doctor.com Reset Stylesheet v1.6.1
Last Updated: 2010-09-17 Author: Richard Clark - http://richclarkdesign.com Twitter: @rich_clark */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* YUI 3.4.1 (build 4118) Copyright 2011 Yahoo! Inc. All rights reserved.
Licensed under the BSD License. http://yuilibrary.com/license/ */
body {
  font: 13px/1.231 arial, helvetica, clean, sans-serif;
  *font-size: small;
  *font: x-small;
}

select, input, button, textarea {
  font: 99% arial,helvetica,clean,sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

pre, code, kbd, samp, tt {
  font-family: monospace;
  *font-size: 108%;
  line-height: 100%;
}

/* 汎用クラス */
.externalIcon {
  margin: 0 3px 0 5px;
  vertical-align: middle;
}

#main .articleBody a:hover img {
  opacity: 0.7;
  -moz-opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}

.inline_block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.table_cell {
  display: table-cell;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}

.fr,
.imgR {
  float: right;
  margin-left: 10px;
}

.fl,
.imgL {
  float: left;
  margin-right: 10px;
}

.imgC,
.tC,
.btn {
  text-align: center;
}

.imgC {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tR,
.sign {
  text-align: right;
}

#globalHeader nav ul li, #globalHeader .toggleArea .styleChange span,
#globalHeader .toggleArea .styleChange li, #globalFooter .inner ul li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.mt0 {
  margin-top: 0px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.pt0 {
  padding-top: 0px !important;
}

.pb0 {
  padding-bottom: 0px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.pt5 {
  padding-top: 5px !important;
}

.pb5 {
  padding-bottom: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.pt15 {
  padding-top: 15px !important;
}

.pb15 {
  padding-bottom: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.pt25 {
  padding-top: 25px !important;
}

.pb25 {
  padding-bottom: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.mt35 {
  margin-top: 35px !important;
}

.mb35 {
  margin-bottom: 35px !important;
}

.pt35 {
  padding-top: 35px !important;
}

.pb35 {
  padding-bottom: 35px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.pt40 {
  padding-top: 40px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.mt45 {
  margin-top: 45px !important;
}

.mb45 {
  margin-bottom: 45px !important;
}

.pt45 {
  padding-top: 45px !important;
}

.pb45 {
  padding-bottom: 45px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.pt50 {
  padding-top: 50px !important;
}

.pb50 {
  padding-bottom: 50px !important;
}

.mt55 {
  margin-top: 55px !important;
}

.mb55 {
  margin-bottom: 55px !important;
}

.pt55 {
  padding-top: 55px !important;
}

.pb55 {
  padding-bottom: 55px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.pt60 {
  padding-top: 60px !important;
}

.pb60 {
  padding-bottom: 60px !important;
}

.mt65 {
  margin-top: 65px !important;
}

.mb65 {
  margin-bottom: 65px !important;
}

.pt65 {
  padding-top: 65px !important;
}

.pb65 {
  padding-bottom: 65px !important;
}

.mt70 {
  margin-top: 70px !important;
}

.mb70 {
  margin-bottom: 70px !important;
}

.pt70 {
  padding-top: 70px !important;
}

.pb70 {
  padding-bottom: 70px !important;
}

.mt75 {
  margin-top: 75px !important;
}

.mb75 {
  margin-bottom: 75px !important;
}

.pt75 {
  padding-top: 75px !important;
}

.pb75 {
  padding-bottom: 75px !important;
}

.mt80 {
  margin-top: 80px !important;
}

.mb80 {
  margin-bottom: 80px !important;
}

.pt80 {
  padding-top: 80px !important;
}

.pb80 {
  padding-bottom: 80px !important;
}

.mt85 {
  margin-top: 85px !important;
}

.mb85 {
  margin-bottom: 85px !important;
}

.pt85 {
  padding-top: 85px !important;
}

.pb85 {
  padding-bottom: 85px !important;
}

.mt90 {
  margin-top: 90px !important;
}

.mb90 {
  margin-bottom: 90px !important;
}

.pt90 {
  padding-top: 90px !important;
}

.pb90 {
  padding-bottom: 90px !important;
}

.mt95 {
  margin-top: 95px !important;
}

.mb95 {
  margin-bottom: 95px !important;
}

.pt95 {
  padding-top: 95px !important;
}

.pb95 {
  padding-bottom: 95px !important;
}

.mt100 {
  margin-top: 100px !important;
}

.mb100 {
  margin-bottom: 100px !important;
}

.pt100 {
  padding-top: 100px !important;
}

.pb100 {
  padding-bottom: 100px !important;
}

.clearfix, #globalHeader nav ul, #globalHeader .toggleArea .styleChange, #globalFooter .inner ul, #contents, #main .allArticleList li a, #side #categoryList, #side .monthlyArchives ol {
  *zoom: 1;
}
.clearfix:after, #globalHeader nav ul:after, #globalHeader .toggleArea .styleChange:after, #globalFooter .inner ul:after, #contents:after, #main .allArticleList li a:after, #side #categoryList:after, #side .monthlyArchives ol:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#globalHeader .inner, #globalFooter .inner, #contents .inner {
  max-width: 960px;
  margin: 0 auto;
}
@media (max-width: 640px) {
  #globalHeader .inner, #globalFooter .inner, #contents .inner {
    width: auto;
  }
}

@media (max-width: 640px) {
  #globalHeader .hgroup h1 a, #globalHeader nav ul li a, #main .articleHeader h3 a,
  #main h2 a, #main .allArticleList li a h3, #side .category ul li a,
  #side .resentEntries ol li a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media (max-width: 640px) {
  #globalHeader .toggleArea .styleChange li span {
    background: -moz-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 100%);
  }
}

/*----------------------------------------------------
	element style
----------------------------------------------------*/
body {
  background: white;
  color: #333333;
  font-family: "メイリオ", "Meiryo", verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
  -webkit-text-size-adjust: none;
  /* フォントサイズ自動調整 */
}

input, textarea {
  font-family: "メイリオ", "Meiryo", verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
}

a:link {
  color: #729fcf;
}
a:visited {
  color: #729fcf;
}
a:hover {
  text-decoration: none;
  color: #204a87;
}
a:active {
  color: #204a87;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

img {
  vertical-align: top;
}

/*----------------------------------------------------
	#page（ページ全体）
----------------------------------------------------*/
#page {
  margin: 0 auto;
  font-size: 93%;
}
@media (max-width: 640px) {
  #page {
    min-width: 320px;
    max-width: 640px;
  }
  #page img {
    max-width: 100%;
    height: auto;
  }
}

/*----------------------------------------------------
	ヘッダー
----------------------------------------------------*/
#globalHeader {
  margin-bottom: 25px;
  padding: 20px 0 0;
}
@media (max-width: 960px) {
  #globalHeader {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 640px) {
  #globalHeader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #fff;
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  }
}
@media (min-width: 640px) {
  #globalHeader .inner {
    position: relative;
  }
}
#globalHeader .hgroup {
  margin: 0 0 15px;
}
@media (max-width: 640px) {
  #globalHeader .hgroup {
    margin-bottom: 0;
    padding: 14px 10px 4px;
    padding-right: 60px;
    background: rgba(242, 242, 245, 0.85);
  }
}
#globalHeader .hgroup h1 {
  margin: 0;
  font-size: 139%;
}
@media (max-width: 640px) {
  #globalHeader .hgroup h1 {
    margin: 0;
    font-size: 100%;
  }
}
#globalHeader .hgroup h1 a {
  display: inline-block;
  padding: 0 0 10px;
  color: #333333;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
}
#globalHeader .hgroup h1 a:hover {
  color: #204a87;
}
@media (max-width: 640px) {
  #globalHeader .hgroup h1 a {
    display: block;
  }
}
@media (max-width: 640px) {
  #globalHeader .hgroup.logo {
    padding: 0 0 0 5px;
  }
  #globalHeader .hgroup.logo h1 {
    font-size: 0;
    line-height: 1;
  }
  #globalHeader .hgroup.logo h1 a {
    padding: 0;
  }
  #globalHeader .hgroup.logo h1 a img {
    max-height: 42px;
  }
}
@media (max-width: 640px) {
  #globalHeader .hgroup p {
    display: none;
  }
}
#globalHeader .navBtn {
  display: none;
}
@media (max-width: 640px) {
  #globalHeader .navBtn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
  }
  #globalHeader .navBtn span {
    display: block;
    padding: 14px 10px;
    cursor: pointer;
  }
}
#globalHeader nav {
  margin: 0 0 15px;
}
@media (max-width: 640px) {
  #globalHeader nav {
    margin: 0;
    border-bottom: 1px solid #fff;
  }
}
#globalHeader nav ul {
  display: table;
  table-layout: fixed;
  width: 100%;
  list-style: none;
  *display: block;
}
#globalHeader nav ul li {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  border-left: 1px solid #fff;
  float: left\9;
  display: block\9;
  width: 120px\9;
  *width: 119px;
}
#globalHeader nav ul li:first-child {
  border-left: 0;
}
#globalHeader nav ul li a {
  display: block;
  white-space: nowrap;
  padding: 8px 5px;
  text-decoration: none;
  color: #fff;
  background: #4e9a06;
}
#globalHeader nav ul li a:hover {
  color: #333333;
  background: #73d216;
}
@media (max-width: 640px) {
  #globalHeader nav ul {
    display: block;
    border-top: 1px solid #fff;
    background: rgba(0, 0, 0, 0.8);
  }
  #globalHeader nav ul li {
    display: block;
    float: left;
    width: 50%;
    border-left: 0;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
  #globalHeader nav ul li:nth-child(2n) {
    border-right: 0;
  }
  #globalHeader nav ul li a {
    color: #fff;
    padding: 17px 5px;
    background: none;
  }
}
@media all and (max-width: 640px) and (orientation: landscape) {
  #globalHeader nav ul li a {
    padding: 12px 5px;
  }
}
@media (max-width: 640px) {
  #globalHeader .toggleArea {
    display: none;
  }
}
#globalHeader .toggleArea a {
  text-transform: uppercase;
}
#globalHeader .toggleArea .styleChange {
  list-style: none;
  position: absolute;
  top: 0;
  right: 0;
}
#globalHeader .toggleArea .styleChange li {
  float: left;
  margin-left: 5px;
}
#globalHeader .toggleArea .styleChange li span {
  display: block;
  padding: 4px 5px;
  border: 1px solid #ccc;
}
#globalHeader .toggleArea .styleChange li span:hover {
  border-color: #204a87;
}
#globalHeader .toggleArea .styleChange li span {
  cursor: pointer;
}
@media (max-width: 640px) {
  #globalHeader .toggleArea .styleChange {
    position: static;
    display: block;
    margin-top: -2px;
    border-top: 1px solid #fff;
    background: rgba(230, 230, 230, 0.85);
  }
  #globalHeader .toggleArea .styleChange li {
    float: left;
    margin: 0;
    width: 33.3%;
    border-right: 1px solid #aaa;
    text-align: center;
  }
  #globalHeader .toggleArea .styleChange li span {
    display: block;
    width: 100%;
    padding: 12px 0;
    border: 0;
    border-right: 1px solid #fff;
    line-height: 20px;
    text-shadow: 0 1px 0 #fff;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  #globalHeader .toggleArea .styleChange li span:hover {
    border-color: #fff;
  }
  #globalHeader .toggleArea .styleChange li:nth-child(2) span {
    font-size: 16px;
  }
  #globalHeader .toggleArea .styleChange li:nth-child(3) {
    border-right: 0;
    width: 33.4%;
  }
  #globalHeader .toggleArea .styleChange li:nth-child(3) span {
    font-size: 20px;
    border-right: 0;
  }
}

/*----------------------------------------------------
	フッター
----------------------------------------------------*/
#globalFooter {
  clear: both;
  -webkit-box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.3);
  background-color: #555753
}
#globalFooter .inner {
  padding: 15px 0 30px;
}
@media (max-width: 960px) {
  #globalFooter .inner {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 640px) {
  #globalFooter .inner {
    padding: 0 10px 30px;
  }
  .body-archiveListing #globalFooter .inner, .body-entry #globalFooter .inner {
    padding-bottom: 50px;
  }
}
#globalFooter .inner a {
  text-decoration: none;
}
#globalFooter .inner ul {
  margin: 0 0 10px;
  list-style: none;
}
#globalFooter .inner ul li {
  float: left;
  margin-right: 15px;
}
#globalFooter .inner ul.footerMenu li a {
  color: #eeeeec;
  text-transform: uppercase;
}
#globalFooter .inner ul.footerMenu li a:hover {
  color: #8ae234;
}
@media (max-width: 640px) {
  #globalFooter .inner ul.footerMenu {
    margin: 0 -10px 15px;
    border-bottom: 1px solid #eeeeec;
  }
  #globalFooter .inner ul.footerMenu li {
    margin: 0 0 -1px;
    width: 33.3%;
    border-bottom: 1px solid #eeeeec;
    border-right: 1px solid #eeeeec;
    text-align: center;
  }
  #globalFooter .inner ul.footerMenu li:nth-child(3n) {
    border-right-width: 0;
  }
  #globalFooter .inner ul.footerMenu li a {
    padding: 10px;
    display: block;
  }
}
@media (max-width: 640px) and (max-width: 380px) {
  #globalFooter .inner ul.footerMenu li {
    width: 50%;
  }
  #globalFooter .inner ul.footerMenu li:nth-child(3n) {
    border-right-width: 1px;
  }
  #globalFooter .inner ul.footerMenu li:nth-child(2n) {
    border-right-width: 0;
  }
}
#globalFooter .inner ul.by {
  float: right;
  color: #eeeeec;
}
#globalFooter .inner ul.by li {
  margin: 0 0 0 10px;
}
#globalFooter .inner ul.by li small {
  font-size: 77%;
}
#globalFooter .inner .copyright {
  clear: both;
  margin-top: 20px;
  text-align: center;
  color: #eeeeec
}

/*----------------------------------------------------
	#contents（メインとサイドバー）
----------------------------------------------------*/
#contents {
  margin: 0 auto 30px;
  line-height: 1.6;
  font-size: 108%;
}
@media (max-width: 640px) {
  #contents {
    margin: 0;
    padding-top: 57px;
  }
}
.open #contents a {
  pointer-events: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#contents ul {
  margin-left: 25px;
}
#contents ol {
  margin-left: 30px;
}

/* このページの上部へ
----------------------------------------------------*/
#contents .pageTop {
  position: fixed;
  right: 0;
  bottom: 0;
  clear: both;
  margin: 0;
  padding: 7px 12px;
  background: #fff;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  text-align: right;
  font-size: 85%;
}
@media (max-width: 640px) {
  #contents .pageTop {
    display: none;
  }
}
#contents .pageTop a {
  color: #333;
  text-decoration: none;
}
#contents .pageTop a:hover {
  color: #204a87;
}
#contents .pageTop a:before {
  content: "↑ ";
}

/* アイキャッチ画像
----------------------------------------------------*/
#eye {
  margin: -10px auto 25px;
  text-align: center;
}
#eye img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 640px) {
  #eye {
    margin: 0 10px 15px;
  }
}
@media (max-width: 960px) {
  #eye {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* #main
----------------------------------------------------*/
#main {
  float: left;
  width: 640px;
}
@media (max-width: 960px) {
  #main {
    float: none;
    margin: 0 auto 50px;
  }
}
@media (max-width: 640px) {
  #main {
    float: none;
    width: auto;
    margin-bottom: 1px;
    padding: 0 10px;
  }
}
#main table, #main ol, #main ul, #main dl, #main blockquote, #main pre, #main p {
  margin-bottom: 15px;
}
#main input[type="text"],
#main textarea {
  width: 85%;
}

/* .article 各記事
----------------------------------------------------*/
#main .article {
  margin: 0 -10px;
  padding: 0 10px;
}
@media (max-width: 640px) {
  #main .article {
    border-bottom: 1px solid #ccc;
  }
}

#main .article ~ .article {
  margin-top: 80px;
}
@media (max-width: 640px) {
  #main .article ~ .article {
    margin-top: 10px;
  }
}

.body-entry #main .article {
  margin-bottom: 50px;
}

/* .articleHeader 各記事のヘッダー、フッター
----------------------------------------------------*/
#main .articleHeader {
  margin-bottom: 10px;
  padding: 0;
}
@media (max-width: 640px) {
  .body-entry #main .articleHeader {
    margin-top: 5px;
  }
}

/* 記事タイトル */
#main .articleHeader h3,
#main h2 {
  margin: 0 0 7px;
  padding: 0;
  font-size: 124%;
  background: none;
  border: 0;
  line-height: 1.3;
}
@media (max-width: 640px) {
  #main .articleHeader h3,
  #main h2 {
    font-size: 100%;
    margin: 0 0 3px;
    font-weight: bold;
  }
}
.body-entry #main .articleHeader h3, .body-entry
#main h2 {
  font-weight: bold;
  font-size: 147%;
}

#main .articleHeader h3 a,
#main h2 a {
  text-decoration: none;
  padding-left: 12px;
  background: url(../img/mark_01.gif) no-repeat 2px 0.5em;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  #main .articleHeader h3 a,
  #main h2 a {
    background-image: url(../img/mark_01_2x.gif);
    -webkit-background-size: 4px auto;
    -moz-background-size: 4px auto;
    -ms-background-size: 4px auto;
    -o-background-size: 4px auto;
    background-size: 4px auto;
  }
}
@media (max-width: 640px) {
  #main .articleHeader h3 a,
  #main h2 a {
    padding-left: 0;
    background: none;
    display: block;
  }
}

/* アーカイブタイトル */
.body-page #main .articleHeader h2,
#main h2.pageTitle {
  margin: 0 0 25px;
  padding: 0px 0px 10px;
  background: none;
  /*
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  */
  font-size: 154%;
  letter-spacing: 1px;
  font-weight: bold;
}
@media (max-width: 640px) {
  .body-page #main .articleHeader h2,
  #main h2.pageTitle {
    margin: 0 -10px 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.body-page #main .articleHeader h2 {
  margin: 0 0 5px;
  padding: 0;
  border: 0;
  letter-spacing: 0;
}

/* 投稿日、カテゴリ、タグ */
#main .articleHeader ul {
  list-style: none;
  margin: 0 10px 0 0;
}
#main .articleHeader ul li {
  display: inline;
  margin-right: 10px;
}
@media (max-width: 640px) {
  #main .articleHeader ul li {
    display: none;
  }
  .body-entry #main .articleHeader ul li, .body-page #main .articleHeader ul li {
    display: inline;
  }
  #main .articleHeader ul li.time {
    margin-right: 0;
    display: block;
    font-size: 77%;
    color: #666;
  }
}

#main .articleFooter ul li:after,
#main .articleHeader ul li:after {
  content: "|";
  margin-left: 14px;
  color: #666;
}
@media (max-width: 640px) {
  #main .articleFooter ul li:after,
  #main .articleHeader ul li:after {
    content: "";
    margin-left: 0;
  }
}

#main .articleFooter ul li:last-child:after,
#main .articleHeader ul li:last-child:after {
  content: "";
  margin-left: 0;
}

/* パーマリンク、トラバ数、コメント数 */
#main .articleFooter {
  padding-top: 10px;
  border-top: 1px solid #ccc;
}
@media (max-width: 640px) {
  #main .articleFooter {
    display: none;
  }
}
#main .articleFooter ul {
  list-style: none;
  margin: 0;
}
#main .articleFooter ul li {
  display: inline;
  margin-right: 10px;
}

/* 続きを読む */
p.more {
  *zoom: 1;
  clear: both;
}

#side p.more {
  text-align: right;
}

p.more a {
  padding-left: 12px;
  background: url(../img/mark_01.gif) no-repeat 2px 0.6em;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  p.more a {
    background-image: url(../img/mark_01_2x.gif);
    -webkit-background-size: 4px auto;
    -moz-background-size: 4px auto;
    -ms-background-size: 4px auto;
    -o-background-size: 4px auto;
    background-size: 4px auto;
  }
}

#main hr#more {
  *zoom: 1;
  clear: both;
  margin: 20px 5px 40px;
  padding: 0;
  border: 0;
  text-align: right;
}

#main hr#more:after {
  content: "─── ここから続き";
  color: #aaa;
  font-size: 85%;
}

/* アーカイブナビ */
#main .archiveNav {
  list-style: none;
  margin: 0 0 15px;
  overflow: hidden;
}
@media (max-width: 640px) {
  #main .archiveNav {
    display: none;
  }
}
#main .archiveNav li {
  width: 49%;
}
#main .archiveNav li.prev {
  float: left;
}
#main .archiveNav li.next {
  float: right;
  text-align: right;
}

#main .archiveNavFooter {
  margin: 45px 0 0;
}
@media (max-width: 640px) {
  #main .archiveNavFooter {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 640px) {
  #main .archiveNavFooter li {
    width: 50%;
    margin: 0;
  }
  #main .archiveNavFooter li a {
    display: block;
    padding: 7px 10px;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    text-decoration: none;
  }
  #main .archiveNavFooter li:last-child a {
    border-left: 1px solid #fff;
  }
}
@media all and (max-width: 640px) and (orientation: landscape) {
  #main .archiveNavFooter li {
    width: auto;
  }
  #main .archiveNavFooter li a {
    text-indent: -2000px;
    width: 14px;
    background: rgba(0, 0, 0, 0.2) url(../img/mark_04_2x.png) no-repeat 8px center;
    -webkit-background-size: 20px auto;
    -moz-background-size: 20px auto;
    -ms-background-size: 20px auto;
    -o-background-size: 20px auto;
    background-size: 20px auto;
    border: 1px solid rgba(255, 255, 255, 0.8);
  }
  #main .archiveNavFooter li.prev {
    margin-left: 5px;
    margin-bottom: 50px;
  }
  #main .archiveNavFooter li.next {
    margin-right: 5px;
    margin-bottom: 50px;
    text-align: left;
  }
  #main .archiveNavFooter li.next a {
    border-left: 0;
    background: rgba(0, 0, 0, 0.2) url(../img/mark_03_2x.png) no-repeat 10px center;
    -webkit-background-size: 20px auto;
    -moz-background-size: 20px auto;
    -ms-background-size: 20px auto;
    -o-background-size: 20px auto;
    background-size: 20px auto;
  }
}

/* ページ分割した時のページ送り */
#main ul.pager {
  margin: 45px 0 15px;
  padding: 10px 10px 5px;
  background: #efefef;
  text-align: center;
}

#main ul.pager li {
  display: inline;
  margin: 0 2px;
  padding: 0;
}

#main ul.pager li span,
#main ul.pager li a {
  display: inline-block;
  margin-bottom: 5px;
  padding: 5px 10px;
  background: #fff;
  border: 1px solid #ccc;
  text-decoration: none;
  vertical-align: middle;
}

#main ul.pager li span {
  font-weight: bold;
  color: #666;
}

#main ul.pager li a:hover {
  border-top-color: #999;
  border-left-color: #999;
}

/* .articleBody 記事本文・続き
----------------------------------------------------*/
#main .articleBody {
  padding: 0;
}
@media (max-width: 640px) {
  #main .articleBody {
    display: none;
  }
  .body-system #main .articleBody, .body-page #main .articleBody, .body-entry #main .articleBody {
    display: block;
  }
}

#main h1 {
  font-size: 200%;
}
#main h2 {
  font-size: 150%;
}
#main h3 {
  *zoom: 1;
  *position: relative;
  clear: both;
  margin: 30px 0 15px;
  padding: 4px 10px;
  background: #f4f4f4;
  border: 1px solid #ccc;
  font-size: 108%;
}
@media (max-width: 640px) {
  #main h3 {
    margin: 30px -10px 15px;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
  }
}

#main h4 {
  margin: 30px 0 10px;
  padding-left: 10px;
  border-left: 5px solid #666;
  font-size: 108%;
}

#main h5 {
  margin: 20px 0 7px;
  padding-left: 10px;
  border-left: 5px solid #999;
  font-size: 108%;
}

#main h6 {
  margin: 20px 0 7px;
  padding-left: 7px;
  border-left: 5px solid #ccc;
  font-size: 100%;
}

#main h4 + h6,
#main h4 + h5,
#main h3 + h4 {
  margin-top: 0;
}

#main small {
  font-size: 93%;
}

#main .articleBody img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

@media (max-width: 640px) {
  #main .articleBody iframe {
    width: 100%;
    height: auto;
    min-height: 180px;
    max-width: 640px;
  }
}

#main .articleBody ul {
  margin-left: 25px;
}

#main .articleBody ol {
  margin-left: 35px;
}

#main .articleBody li {
  margin-bottom: 3px;
}

#main .articleBody li ol,
#main .articleBody li ul {
  margin-top: 5px;
}

#main .articleBody dl dt {
  margin-bottom: 5px;
  padding-bottom: 2px;
  border-bottom: 1px solid #ccc;
}

#main .articleBody dl dd {
  margin: 0 0 10px 1em;
}

#main .articleBody pre {
  padding: 10px 15px;
  background: #333;
  color: #fff;
}

#main .articleBody table {
  border: 1px solid #ccc;
}

#main .articleBody table th {
  padding: 7px 10px 5px;
  background: #efefef;
  border: 1px solid #ccc;
}

#main .articleBody table td {
  padding: 7px 10px 5px;
  border: 1px solid #ccc;
}

#main .articleBody blockquote {
  margin: 20px;
  padding: 15px 15px 5px;
  background: #eeeef2;
}
@media (max-width: 640px) {
  #main .articleBody blockquote {
    margin-left: 0;
    margin-right: 0;
  }
}

/* トラックバック、コメント */
#tb_comment {
  margin-bottom: 45px;
  padding: 0 10px;
}
#tb_comment #trackBackURL {
  width: 90%;
  border: 0;
}
#tb_comment .trackbacks-content,
#tb_comment .comment {
  margin: 0 0 15px;
  padding: 15px 15px 1px;
  border: 1px solid #ccc;
}
@media (max-width: 640px) {
  #tb_comment .trackbacks-content,
  #tb_comment .comment {
    padding: 10px 10px 1px;
  }
  #tb_comment .trackbacks-content.comment-reply,
  #tb_comment .comment.comment-reply {
    padding: 10px 10px 1px;
  }
}
#tb_comment .comment h4 {
  margin-top: 0;
  padding-left: 0;
  padding-bottom: 5px;
  border-left: 0;
  border-bottom: 1px dotted #ccc;
}
#tb_comment .comment h4 span.commentNo {
  margin-right: 7px;
}
#tb_comment .trackbacks-content h4 {
  margin-top: 0;
}
#tb_comment .footer {
  padding-top: 10px;
  border-top: 1px solid #fff;
}
#tb_comment .footer ul {
  text-align: right;
  margin-left: 0;
}
@media (max-width: 640px) {
  #tb_comment .footer ul {
    margin-bottom: 9px;
  }
}
#tb_comment .footer ul li {
  display: inline;
  margin-left: 10px;
}
@media (max-width: 640px) {
  #tb_comment .footer ul li {
    font-size: 93%;
    margin-left: 4px;
  }
}
#tb_comment .footer ul li:before {
  content: "|";
  margin-right: 14px;
  color: #666;
}
@media (max-width: 640px) {
  #tb_comment .footer ul li:before {
    margin-right: 7px;
  }
}
#tb_comment .footer ul li:first-child:before {
  content: "";
  margin-right: 0;
}
#tb_comment .comments table {
  width: 100%;
}
#tb_comment .comments table th {
  text-align: left;
  width: 30%;
}
#tb_comment .comments table td small {
  display: block;
  margin-top: 2px;
}
#tb_comment .required {
  margin-left: 5px;
  color: #c00;
  font-weight: normal;
}
#tb_comment .comments table td input {
  width: 93%;
  padding: 3px;
  border: 1px solid #ccc;
}
#tb_comment textarea {
  width: 93%;
  height: 150px;
  padding: 3px;
  border: 1px solid #ccc;
}
#tb_comment .postComment {
  margin: 15px 0 0;
}
#tb_comment .postComment input {
  padding: 5px 15px;
}
#tb_comment #comment-greeting {
  margin-bottom: 15px;
  padding: 15px;
  background: #eeeef2;
  border: 1px solid #ccc;
}
#tb_comment #comment-greeting img {
  vertical-align: middle;
}
#tb_comment #comments-open-text p {
  font-size: 85%;
}

/* すべての記事一覧
----------------------------------------------------*/
#main .allArticleList {
  list-style: none;
  margin: -24px 0 0;
  padding: 0;
}
@media (max-width: 640px) {
  #main .allArticleList {
    margin-top: -14px;
  }
}
#main .allArticleList li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
}
@media (max-width: 640px) {
  #main .allArticleList li {
    margin: 0 -10px;
  }
}
#main .allArticleList li a {
  display: block;
  text-decoration: none;
  color: #333333;
  margin: 1px 0;
  padding: 0 20px 0 1px;
  background: url(../img/mark_03.png) no-repeat right center;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  #main .allArticleList li a {
    background-image: url(../img/mark_03_2x.png);
    -webkit-background-size: 20px auto;
    -moz-background-size: 20px auto;
    -ms-background-size: 20px auto;
    -o-background-size: 20px auto;
    background-size: 20px auto;
  }
}
#main .allArticleList li a p.picture {
  float: left;
  margin: 0;
  width: 60px;
}
#main .allArticleList li a .text {
  overflow: hidden;
  padding: 5px 0 5px 10px;
}
#main .allArticleList li a h3 {
  clear: none;
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
  text-shadow: 0 1px 0 #fff;
  font-weight: bold;
}
#main .allArticleList li a time {
  color: #888;
}
#main .allArticleList li:nth-child(odd) a {
  background-color: #eeeeec;
}

/* #side
----------------------------------------------------*/
#side {
  float: right;
  width: 300px;
  padding: 0;
}
@media (max-width: 960px) {
  #side {
    clear: both;
    float: none;
    width: 640px;
    margin: 0 auto;
    padding: 0;
  }
}
@media (max-width: 640px) {
  #side {
    float: none;
    width: auto;
    padding: 15px 10px;
    background: #eeeeec;
  }
}
#side .item {
  margin: 30px 0 0;
  line-height: 1.3;
}
@media (max-width: 960px) {
  #side .item {
    width: 50%;
    max-width: 300px;
    float: left;
  }
  #side .item:nth-child(even) {
    float: right;
  }
  #side .item:nth-child(2n+1) {
    clear: both;
  }
}
@media (max-width: 640px) {
  #side .item {
    float: none;
    width: auto;
    max-width: none;
  }
  #side .item:nth-child(even) {
    float: none;
  }
}
#side .item:first-child {
  margin-top: 0;
}
@media (max-width: 960px) {
  #side .item:first-child {
    margin-top: 30px;
  }
}
@media (max-width: 640px) {
  #side .item:first-child {
    margin-top: 0;
  }
}
#side h2, #side h3, #side h4, #side p, #side li, #side a {
  text-shadow: 0 1px 0 #fff;
}
#side h3,
#side h2 {
  margin: 0 0 10px;
  padding-left: 7px;
  border-left: 5px solid #999;
  font-size: 116%;
}
#side h3 {
  font-size: 100%;
}
#side p {
  margin-bottom: 10px;
  line-height: 1.5;
}
#side ul {
  list-style: none;
  margin-left: 0;
}
#side ol {
  margin-left: 30px;
}
#side ul li {
  margin-bottom: 5px;
  padding: 0 0 0 15px;
  background: url(../img/mark_01.gif) no-repeat 5px 0.5em;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  #side ul li {
    background-image: url(../img/mark_01_2x.gif);
    -webkit-background-size: 4px auto;
    -moz-background-size: 4px auto;
    -ms-background-size: 4px auto;
    -o-background-size: 4px auto;
    background-size: 4px auto;
  }
}
#side ul li ul {
  margin-bottom: 0;
}
#side ul li li {
  margin-bottom: 5px;
  padding: 0 0 0 9px;
  background: url(../img/mark_02.gif) no-repeat 0 0.5em;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  #side ul li li {
    background-image: url(../img/mark_02_2x.gif);
    -webkit-background-size: 4px auto;
    -moz-background-size: 4px auto;
    -ms-background-size: 4px auto;
    -o-background-size: 4px auto;
    background-size: 4px auto;
  }
}
#side li ol,
#side li ul {
  margin-top: 7px;
}
#side a {
  text-decoration: none;
}
#side .searchTextBox {
  width: 200px;
  padding: 3px 2px;
  *padding: 4px 2px;
  margin-right: 3px;
  border: 1px solid #ccc;
}
#side .searchBtn {
  margin: 0;
  padding: 3px 15px;
  *padding: 1px 7px;
  border: 0;
  border: 1px solid #ccc;
  background: #fff;
}
#side .searchBtn:hover {
  background: #efefef;
  border-top-color: #999;
  border-left-color: #999;
  cursor: pointer;
}
#side .category ul,
#side .resentEntries ol {
  *zoom: 1;
  list-style: none;
  margin: 0 0 10px;
}
#side .category ul li,
#side .resentEntries ol li {
  margin: 0 0 6px;
  padding: 0 5px 6px;
  padding-left: 15px;
  background: url(../img/mark_01.gif) no-repeat 5px 0.5em;
  border-bottom: 1px solid #ccc;
}
@media (max-width: 640px) {
  #side .category ul li,
  #side .resentEntries ol li {
    margin: 0 0 1px;
    padding: 0;
    background: none;
    border: 0;
  }
  #side .category ul li a,
  #side .resentEntries ol li a {
    color: #333333;
    display: block;
    padding: 10px 10px;
    padding-right: 20px;
    background: white url(../img/mark_03_2x.png) no-repeat right center;
    -webkit-background-size: 20px auto;
    -moz-background-size: 20px auto;
    -ms-background-size: 20px auto;
    -o-background-size: 20px auto;
    background-size: 20px auto;
  }
}
#side .category ul li ul {
  margin-top: 5px;
  margin-bottom: 0;
}
@media (max-width: 640px) {
  #side .category ul li ul {
    margin-top: 1px;
  }
  #side .category ul li ul li a {
    padding-left: 20px;
    font-size: 85%;
  }
}
#side .category ul li ul li {
  padding-bottom: 0;
  border: 0;
}
@media (max-width: 640px) {
  #side #categoryList {
    margin-top: -25px;
    padding-top: 55px;
  }
}
#side .pictureList {
  *zoom: 1;
  overflow: hidden;
  margin-left: -5px;
}
@media (max-width: 640px) {
  #side .pictureList {
    margin-left: -1px;
  }
}
#side .pictureList li {
  _display: inline;
  float: left;
  padding: 0;
  margin: 0 0 5px 5px;
}
@media (max-width: 640px) {
  #side .pictureList li {
    width: 20%;
    margin: 0;
    padding: 0 0 1px 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
}
#side .pictureList li img {
  padding: 1px;
  background: #fff;
  border: 1px solid #ccc;
}
@media (max-width: 640px) {
  #side .pictureList li img {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
}
#side .pictureList li a:hover img {
  border-color: #204a87;
}
#side .monthlyArchives ol {
  list-style: none;
  margin: 0 0 10px;
}
#side .monthlyArchives ol li {
  float: left;
  width: 43%;
  margin-bottom: 10px;
  padding-left: 15px;
  background: url(../img/mark_01.gif) no-repeat 5px 0.5em;
}
@media (max-width: 640px) {
  #side .monthlyArchives ol li {
    width: 33.3%;
    margin: 0 0 1px;
    padding: 0 0 0 1px;
    background: none;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
  #side .monthlyArchives ol li:nth-child(3n) {
    width: 33.4%;
  }
  #side .monthlyArchives ol li a {
    color: #333333;
    display: block;
    padding: 10px 10px;
    padding-right: 20px;
    background: white url(../img/mark_03_2x.png) no-repeat right center;
    -webkit-background-size: 20px auto;
    -moz-background-size: 20px auto;
    -ms-background-size: 20px auto;
    -o-background-size: 20px auto;
    background-size: 20px auto;
  }
}
@media (max-width: 640px) and (max-width: 420px) {
  #side .monthlyArchives ol li {
    width: 50%;
  }
  #side .monthlyArchives ol li:nth-child(3n) {
    width: 50%;
  }
}
#side .tagSearch {
  list-style: none;
  margin: 10px 0 30px;
  padding: 0;
  line-height: 1.2;
}
#side .tagSearch li {
  display: inline;
  margin: 0 0 5px;
  padding: 0;
  background: none;
}
@media (max-width: 640px) {
  #side .tagSearch li {
    font-size: 80%;
  }
}
#side .tagSearch li a {
  *zoom: 1;
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 0;
  color: #333333;
  font-size: 1em;
}
#side #page .tagSearch li a:hover {
  color: #f63;
  border-left-color: #f63;
}
#side .tagSearch li.tagRank1 a {
  font-size: 2.6em;
}
#side .tagSearch li.tagRank2 a {
  font-size: 2.4em;
  color: #222;
}
#side .tagSearch li.tagRank3 a {
  font-size: 2.2em;
  color: #333;
}
#side .tagSearch li.tagRank4 a {
  font-size: 2em;
  color: #444;
}
#side .tagSearch li.tagRank5 a {
  font-size: 1.8em;
  color: #555;
}
#side .tagSearch li.tagRank6 a {
  font-size: 1.6em;
  color: #666;
}
#side .tagSearch li.tagRank7 a {
  font-size: 1.4em;
  color: #777;
}
#side .tagSearch li.tagRank8 a {
  font-size: 1.2em;
  color: #888;
}
#side .tagSearch li.tagRank9 a {
  font-size: 1em;
  color: #999;
}
#side .tagSearch li.tagRank10 a {
  font-size: .8em;
  color: #aaa;
}
#side .resentComment ul li {
  margin-bottom: 10px;
}
#side .resentComment ul li ul li {
  margin-bottom: 5px;
}
#side .powered {
  text-align: right;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  #side .powered img {
    width: 90px;
  }
}

#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft {
  clear: left;
}

#cboxContent {
  position: relative;
}

#cboxLoadedContent {
  overflow: auto;
}

#cboxTitle {
  margin: 0;
}

#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer;
}

.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
}

.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
}

#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing: content-box;
}

#cboxOverlay {
  background: #fff;
}

#cboxTopLeft {
  width: 25px;
  height: 25px;
  background: url(../img/colorbox/border1.png) no-repeat 0 0;
}

#cboxTopCenter {
  height: 25px;
  background: url(../img/colorbox/border1.png) repeat-x 0 -50px;
}

#cboxTopRight {
  width: 25px;
  height: 25px;
  background: url(../img/colorbox/border1.png) no-repeat -25px 0;
}

#cboxBottomLeft {
  width: 25px;
  height: 25px;
  background: url(../img/colorbox/border1.png) no-repeat 0 -25px;
}

#cboxBottomCenter {
  height: 25px;
  background: url(../img/colorbox/border1.png) repeat-x 0 -75px;
}

#cboxBottomRight {
  width: 25px;
  height: 25px;
  background: url(../img/colorbox/border1.png) no-repeat -25px -25px;
}

#cboxMiddleLeft {
  width: 25px;
  background: url(../img/colorbox/border2.png) repeat-y 0 0;
}

#cboxMiddleRight {
  width: 25px;
  background: url(../img/colorbox/border2.png) repeat-y -25px 0;
}

#cboxContent {
  background: #fff;
  overflow: hidden;
}

.cboxIframe {
  background: #fff;
}

#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}

#cboxLoadedContent {
  margin-bottom: 20px;
}

#cboxTitle {
  position: absolute;
  bottom: 0px;
  left: 0;
  text-align: center;
  width: 100%;
  color: #999;
}

#cboxCurrent {
  position: absolute;
  bottom: 0px;
  left: 100px;
  color: #999;
}

#cboxSlideshow {
  position: absolute;
  bottom: 0px;
  right: 42px;
  color: #444;
}

#cboxPrevious {
  position: absolute;
  bottom: 0px;
  left: 0;
  color: #444;
}

#cboxNext {
  position: absolute;
  bottom: 0px;
  left: 63px;
  color: #444;
}

#cboxLoadingOverlay {
  background: white url(../img/colorbox/loading.gif) no-repeat 5px 5px;
}

#cboxClose {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  color: #444;
}

.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

.cboxIE6 #cboxTopLeft {
  background: url(../img/colorbox/ie6/borderTopLeft.png);
}

.cboxIE6 #cboxTopCenter {
  background: url(../img/colorbox/ie6/borderTopCenter.png);
}

.cboxIE6 #cboxTopRight {
  background: url(../img/colorbox/ie6/borderTopRight.png);
}

.cboxIE6 #cboxBottomLeft {
  background: url(../img/colorbox/ie6/borderBottomLeft.png);
}

.cboxIE6 #cboxBottomCenter {
  background: url(../img/colorbox/ie6/borderBottomCenter.png);
}

.cboxIE6 #cboxBottomRight {
  background: url(../img/colorbox/ie6/borderBottomRight.png);
}

.cboxIE6 #cboxMiddleLeft {
  background: url(../img/colorbox/ie6/borderMiddleLeft.png);
}

.cboxIE6 #cboxMiddleRight {
  background: url(../img/colorbox/ie6/borderMiddleRight.png);
}

.cboxIE6 #cboxTopLeft,
.cboxIE6 #cboxTopCenter,
.cboxIE6 #cboxTopRight,
.cboxIE6 #cboxBottomLeft,
.cboxIE6 #cboxBottomCenter,
.cboxIE6 #cboxBottomRight,
.cboxIE6 #cboxMiddleLeft,
.cboxIE6 #cboxMiddleRight {
  _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}
